<%- include('../../partials/header.ejs') %>

<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <div class="card m-3">
        <div class="card-header">
           <h1>Novo Artigo</h1>           
        </div>
        <div class="card-body">
            <form method="post" action="/article/save">
                <input type="text" class="form-control" name="title" placeholder="Titulo do seu poste: "><br>
                <textarea name="body" class="form-control" cols="30" rows="10" id="article"></textarea><br>
                <label>Categorias</label>
                <select class="form-control" name="category">
                    <% categories.forEach(category =>{ %>
                        <option value="<%= category.id %>"><%= category.title %></option>
                    <% }) %>
                </select>
                <br>
                <button class="btn btn-dark" style="margin-left: 43%; padding-inline: 25px;">Cadastrar</button>
            </form>
        </div>
    </div>
</div>

</html>

<style>
    
body{
    background-color: #0c0c0e;
}


.card{
    display: flex;
    margin: auto;
    padding: auto;
    border: none;
    box-shadow: 5px 8px 10px #a8a8b3;
}
.card-header{
    background-color: #e1e1e6;
    text-align: center;
}

.card-body{
    background-color: #737380;
}
</style>
<script src="https://cdn.tiny.cloud/1/ty54twgixwp2zobx05tccgo0dueb3vss3g4m65rlai8fcjf9/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<Script>
   tinymce.init({
                selector: "#article",
                language: 'pt_BR',
                plugins: [
                    'advlist',
                    'autolink',
                    'link',
                    'image',
                    'lists',
                    'preview',
                    'searchreplace',
                    'wordcount',
                    'fullscreen',
                    'insertdatetime',
                    'media',
                    'save',
                    'table',
                    'emoticons',
                ],
            })
</Script>