<nav class="navbar navbar-expand">
    <a class="navbar-brand" style="color: black;" href="/">
        Programa-Blog
    </a>
    <ul class="navbar-nav mx-auto ">
        <% categories.forEach(category =>{ %>
            <li class="nav-item mx-auto">
                <a class="nav-link" href="/categoria/<%= category.slog %>"> <%= category.title %></a>
            </li>
    
        <% }) %>

    </ul>
    <ul class="navbar-nav">
        <li class="nav-item ">
            <a style="display: inline; background-color: #000000;color: white; box-shadow: 3px 3px 5px black;" name="login" href="/admin/login" class="btn p-2  m-1">Login</a>

            <a style="display: inline; background-color: #000000;color: white; box-shadow: 3px 3px 5px black;" name="Create" href="/admin/create/user" class="btn  p-2 m-1">Sing-up</a>
        </li>
        
    </ul>

</nav>

<style>

    .navbar{
        background-color: #392c54;

        box-sizing: border-box;
        box-shadow: 0px 0px 10px #8670ac;
    }

    .nav-link{
        text-decoration: none;
        color: black;
        font-size: 19px;
    }
</style>




