<%- include('../../partials/header.ejs') %>

<%- include('../../partials/navbar.ejs') %>

<div class="container">

    <div class="card" style="margin-top: 12%;">
        <div class="card-header">
            Criaçao de usuario
            
        </div>
        <div class="card-body">
            <form method="post" action="/user/create">
                <input class="form-control" name="email" type="email" placeholder="jose1234@gmail.com"><br>
                <input class="form-control" name="password" type="password" placeholder="********"><br>
                <button style="margin-left: 45%;" class="btn btn-success">Criar</button>
            </form>

        </div>
    </div>


</div>

</html>


<style>
    body{
        background-color: #0c0c0e;
    }

    .card{
        box-shadow: 9px 10px 8px #5e3ea1;
        border: none;
        
    }

    .card-header{
        font-size: 20px;
        text-align: center;
        padding: auto;
        background-color: #e1e1e6;
    }

    .card-body{
        background-color: #000000;
        opacity: 75%;
       
    }
        

</style>