<%- include('partials/header.ejs') %>
<%- include('partials/Home-navbar.ejs') %>

<body>
    
    <div class="container">

        <h1 style="text-align: center; color: white;">Ola bem-vindo</h1>
        <p class="h4" style="text-align: center; color: white;">Este e um blog feito para programadores criarem duvidas e sanarem duvidas!!</p>
        
        <% articles.forEach(article => { %>
            <br>
            <div class="card">
                <div class="card-header">
                    <h1 style="color: black;"><%= article.title %> </h1>    
                </div>
                <div class="card-body">
                    <a href="/<%= article.slog %>" type="button" class="btn btn-dark m-2">Ler mais</a>
                </div>

            </div>
        
        <% }) %>

        <div class="row">
            <div class="col col-12">
                <br>
                <a style="float: right;" href="/articles/page/2"><img src="https://img.icons8.com/ios-glyphs/45/000000/circled-chevron-right.png"/></a> 
                <br>
            </div>
            <hr>
        </div>
    </div>

</body>


</html>


<style>

    body{
        background-color: #202024;
    }

    .card{
        display: flex;
        margin: auto;
        padding: auto;

        box-shadow: 10px 8px 5px #121214;
    }
    .card-header{
        background-color: #e1e1e6;
        text-align: center;
    }

    .card-body{
        background-color: #737380;
    }

</style>